<canvas class="canvas" #canvas (mousedown)="mdEvent($event)" (mouseup)="muEvent($event)" (mousemove)=" drawRect($event)"></canvas>
<br><br> &nbsp;
<button class="custom" (click)="eraseLine()"> Eraser</button>
&nbsp; &nbsp;
<select name="list1" (change)="colorPencil($event.target.value)">
    <option>Choose Pencil Color</option>
    <option>black</option>
    <option>red</option>
    <option>green</option>
    <option>blue</option>
    <option>orange</option>
    <option>pink</option>
    <option>yellow</option>
    <option>purple</option>
</select>

<button (click)="drawRectangle()">Rectangle</button>