<canvas class="canvas" #canvas (mousedown)="mdEvent($event)" (mouseup)="muEvent($event)" (mousemove)="mmEvent($event)"></canvas>
<br>
<br> &nbsp;
<button (click)="eraseLine()"> Eraser</button>
&nbsp; &nbsp;
<button type="button" id="clr" size="23" onclick="clearArea()">Clear Screen</button>
&nbsp; &nbsp; Choose Pencil Color:
<select name="list1" (change)="colorPencil($event.target.value)">
    <option>black</option>
    <option>red</option>
    <option>green</option>
    <option>blue</option>
    <option>orange</option>
    <option>pink</option>
    <option>yellow</option>
    <option>purple</option>
</select>
&nbsp;&nbsp; Choose Line Width:
<select name="list2" (change)="lineWidth($event.target.value)">

    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
</select>
<!-- &nbsp;&nbsp;
<button (click)="draw($event.target.value)">Circle</button>
&nbsp;&nbsp;
<button (click)="value=1">Rectangle</button> -->